/* กำหนดพื้นหลังของทั้งหน้า */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* สีพื้นหลังรวม */
}

/* พื้นหลังส่วนหัว */
header {
  background-color: #78A3D4;
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center; /* ทำให้ข้อความ h1 อยู่ตรงกลาง */
  padding: 40px 20px; /* เพิ่ม padding ด้านบนและล่าง */
}

/* ปรับแต่งโลโก้ */
.logo {
  position: absolute; 
  left: 10px;     /* ขยับชิดซ้าย */
  top: 50%;       /* กึ่งกลางแนวตั้ง */
  transform: translateY(-50%); /* จัดให้อยู่กลางพอดี */
  width: 120px;   /* ขยายโลโก้ */
}

/* พื้นหลังเมนูนำทาง */
nav {
  background-color: #8BADD3;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: underline;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

/* container รวม aside + main */
.container {
  display: flex;
}

/* พื้นหลังเมนูด้านซ้าย */
aside {
  background-color: #A6C3E4;
  width: 200px;
  padding: 15px;
}

/* สีตัวอักษรเมนูด้านซ้าย */
aside a {
  color: #000000; 
  text-decoration: underline;
}

/* พื้นหลังเนื้อหาหลัก */
main {
  background-color: #CfE0EB;
  flex: 1;
  padding: 20px;
}

/* พื้นหลังส่วนท้าย */
footer {
  background-color: #9DCAEB;
  color: white;
  text-align: center;
  padding: 10px;
}
