/* ส่วนหัว */
header {
  background-color: transparent;
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Sarabun', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

/* โลโก้ */
.logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
}

/* เมนูนำทาง */
nav {
  background-color: transparent;
  padding: 10px;
  text-align: right;
}

nav a {
  color: white;
  text-decoration: underline;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

/* container รวม aside + main */
.container {
  display: flex;
}

/* เมนูด้านซ้าย */
aside {
  background-color: transparent;
  width: 200px;
  padding: 15px;
}

/* สีตัวอักษรเมนูด้านซ้าย */
aside a {
  color: #000000;
  text-decoration: underline;
}

/* เนื้อหาหลัก */
section {
  background-color: transparent;
  flex: 1;
  padding: 40px 20px;
}

/* ส่วนท้าย */
footer {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 10px;
}

/* สไตล์พื้นหลังวิดีโอ */
.background {
  position: fixed;  /* ทำให้วิดีโอคงที่ */
  top: 0;
  left: 0;
  width: 100%;  /* ให้วิดีโอขยายเต็มหน้าจอ */
  height: 100%;  /* ให้วิดีโอครอบคลุมทั้งหน้า */
  z-index: -1;   /* ทำให้วิดีโออยู่ข้างหลังเนื้อหาของเว็บ */
}

/* ปรับขนาดวิดีโอ */
.background video {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* ทำให้วิดีโอเต็มหน้าจอ โดยไม่ทำให้ผิดสัดส่วน */
}

